@font-face {
    font-family: 'Glametrix';
    src: url('glametrix-300-normal.woff2') format('woff2'), url('glametrix-300-normal.woff') format('woff'), url('glametrix-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}