@font-face {
    font-family: 'Champignon';
    src: local('Champignon'), url('champignon.woff2') format('woff2'), url('champignon.woff') format('woff'), url('champignon.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
