@font-face {
    font-family: 'Bad Script';
    src: url('badscript-400-normal.woff2') format('woff2'), url('badscript-400-normal.woff') format('woff'), url('badscript-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}